* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  
  }
  
  body {
  
    background-image: url(./stoepsorama.gif);
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: top;
    background-size: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25rem;
  
  }
  
  
  #hd1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(251, 250, 250, 0.911);
    margin-bottom: 2rem;
  }
  
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(194, 203, 211, 0.693);
    margin-bottom: 1rem;
   
  }
  
  .input {
  
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 2rem;
    width: 20rem;
    margin-left: 1rem;
    border: 1px solid;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    background-color: rgba(145, 153, 160, 0.592);
  }
  
  .talk {
    height: 15px;
    width: 15px;
    margin: 15px;
    cursor: pointer;
  
  
  }
  
  .content {
    font-size: 1rem;
    text-align: center;
    font-weight: 1;
    color: rgb(222, 223, 224);
  }
